<div class="init_back">
  <div class="container">
    <h2 class="quote">HailMarvin</h2>
    <h4>Coming Soon</h4>
  </div>
  <div class="footer">
    <a href="https://github.com/hailmarvin"><fa-icon [icon]="faGithub" size="2x" [styles]="{ 'color': '#673838'}"></fa-icon></a>
    <a href="https://twitter.com/_10bih"><fa-icon [icon]="faTwitter" size="2x" [styles]="{ 'color': '#673838'}"></fa-icon></a>
    <a href="https://instagram.com/hailmarvin"><fa-icon [icon]="faInstagram" size="2x" [styles]="{ 'color': '#673838'}"></fa-icon></a>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
